{% load static %}

<!-- libraries -->		 
<!-- <script src="{% static 'limitless/global_assets/js/plugins/visualization/d3/d3.min.js' %}"></script> -->
<!-- /libraries -->

<!-- application stylesheets -->
<link href="{% static 'gmt/css/gmt.css' %}" rel="stylesheet" type="text/css">
<!-- /application stylesheets -->

<!-- application JS -->
<script src="{% static 'gmt/js/gmt.js' %}"></script>
<script src="{% static 'gmt/js/locale.js' %}"></script>
<!-- /application JS -->


<script>
 (function() {
	 // init app global settings
 }());
</script>
