{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<div id="mail_index">
    <!-- Left aligned buttons -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">{% trans 'Send Mail' %}</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="POST" action={% url 'mail_addone' %}>
                {% csrf_token %}
                {#：必填，最多30字符，需要显示字数统计#}
                {#: 限制30个字符（含空格/标点）。不支持中文（未来版本若为中文，则为15个汉字）#}
                <div class="form-group">
                    <label>{% trans 'Title' %}</label>
                    <span class="count_txt">(<span id="title_word">0</span>/30):</span>
                    <input type="text" name="title" id="title" class="form-control" placeholder="{% trans 'Please input the Mail Title, required, 30 characters allowed.'%}"
                           maxlength="30">
                </div>

                <script>
                    $(function () {
                        var text = $("#title").val();
                        var counter = text.length;
                        $("#title_word").text(counter);
                        $(document).keyup(function () {
                            var text = $("#title").val();
                            var counter = text.length;
                            $("#title_word").text(counter);
                        });
                    });
                </script>


                {#内容：必填，最多600字符，需要显示字数统计#}
                <div class="form-group">
                    <label>{% trans 'Content'%}</label>
                    <span class="count_txt">(<span id="content_word">0</span>/600)：</span>
                    <textarea rows="3" name="content" id="content" cols="3" class="form-control"
                              placeholder="{% trans 'Please input the Mail Content, required, 600 characters allowed.'%}" maxlength="600"></textarea>
                </div>

                <script>
                    $(function () {
                        var text = $("#content").val();
                        var counter = text.length;
                        $("#content_word").text(counter);
                        $(document).keyup(function () {
                            var text = $("#content").val();
                            var counter = text.length;
                            $("#content_word").text(counter);
                        });
                    });
                </script>

                <div class="form-group">
                    <label>{% trans 'Receiver IDs'%}:</label>
                    <input type="text" name="role_ids" id="role_ids" value="" class="form-control"
                           placeholder="{% trans 'Please input the Player RoleIds, multiple role_ids are separated by comma, no need to input for global mail.'%}">
                </div>

                <script>
                    $(function () {
                        var text = $("#content").val();
                        var counter = text.length;
                        $("#content_word").text(counter);
                        $(document).keyup(function () {
                            var text = $("#content").val();
                            var counter = text.length;
                            $("#content_word").text(counter);
                        });
                    });
                </script>

                <div class="form-group">
                    <label>{% trans 'Attachment' %}:</label>
                    <div class="row">
                        <div class="col-5">
                            <input type="number" name="item_id" id="itemId1" value="" class="form-control"
                                   placeholder="{% trans 'ItemId'%}1"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="count" id="count1" value=""
                                   class="form-control"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="item_id" id="itemId2" value="" class="form-control"
                                   placeholder="{% trans 'ItemId'%}2"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="count" id="count2" value=""
                                   class="form-control"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="item_id" id="itemId3" value="" class="form-control"
                                   placeholder="{% trans 'ItemId'%}3"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="count" id="count3" value=""
                                   class="form-control"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="item_id" id="itemId4" value="" class="form-control"
                                   placeholder="{% trans 'ItemId'%}4"/>
                        </div>
                        <div class="col-5">
                            <input type="number" name="count" id="count4" value=""
                                   class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{% trans 'Created time' %}:</label>
                    <input id="create" name="create" type="text" value="" class="form-control" placeholder="Please input the Created Time, %Y-%m-%d %H:%M:%S %z"/>
                </div>

                <div class="form-group">
                    <label>{% trans 'Expired time' %}:</label>
                    <input id="expire" name="expire" type="text" value="" class="form-control" placeholder="Please input the Expired Time, %Y-%m-%d %H:%M:%S %z"/>
                </div>

                <div class="form-group">
                    <label>{% trans 'Other options' %}:</label>
{#                    <div class="custom-control custom-checkbox">#}
{#                        <input name="pailian" type="hidden" value="0">#}
{#                        <input type="checkbox" class="custom-control-input" id="pailian"#}
{#                               name="pailian" value="1">#}
{#                        <label class="custom-control-label" for="pailian">{% trans 'Pailian' %}</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-checkbox">#}
{#                        <input name="visible" type="hidden" value="0">#}
{#                        <input type="checkbox" class="custom-control-input" id="visible"#}
{#                               name="visible" value="1" checked>#}
{#                        <label class="custom-control-label" for="visible">{% trans 'Visible' %}</label>#}
{#                    </div>#}
                    <div class="custom-control custom-checkbox">
                        <input name="mail_type" type="hidden" value="101">
                        <input type="checkbox" class="custom-control-input" id="mail_type"
                               name="mail_type" value="102">
                        <label class="custom-control-label" for="mail_type">{% trans 'Global mail' %}</label>
                    </div>
                </div>
                {#：必填，最多20字符，需要显示字数统计#}
                <div class="form-group">
                    <label>{% trans 'Salute' %}</label>
                    <span class="count_txt">(<span id="salute_word">0</span>/20):</span>
                    <input type="text" name="salute" id="salute" class="form-control" placeholder="{% trans 'Please input the Salute, optional, 20 characters allowed.'%}"
                           maxlength="20">
                </div>
                {#：必填，最多20字符，需要显示字数统计#}
                <div class="form-group">
                    <label>{% trans 'Sender' %}</label>
                    <span class="count_txt">(<span id="sender_word">0</span>/20):</span>
                    <input type="text" name="sender" id="sender" class="form-control" placeholder="{% trans 'Please input the Sender Name, optional, 20 characters allowed.'%}"
                           maxlength="20">
                </div>

                <script>
                    $(function () {
                        var text = $("#sender").val();
                        var counter = text.length;
                        $("#sender_word").text(counter);
                        $(document).keyup(function () {
                            var text = $("#sender").val();
                            var counter = text.length;
                            $("#sender_word").text(counter);
                        });
                    });
                </script>

                <script>
                    $(function () {
                        $("#demo_submit").click(function () {
                            // 标题不能为空
                            if ($("#title").val() === "") {
                                alert({% trans 'Mail title cannot be empty!' %});
                                return false;
                            }
                            // 内容不能为空
                            if ($("#content").val() === "") {
                                alert({% trans 'Mail content cannot be empty!' %});
                                return false;
                            }

                            let fpidStr = $("#fpids").val()
                            // 未填写Fpid时必须勾选“全服邮件”
                            let mail_typeCheck = $("#mail_type").prop('checked');
                            if (!mail_typeCheck) {
                                // do something
                                if (fpidStr === "") {
                                    alert({% trans 'Mail fpid required in non-global mail!' %});
                                    return false;
                                }
                            }

                            // 奖励数量限制: 附件id = 1，上限为99999；附件id = 4，上限为180；其他id下为24
                            let index = 1;
                            let result = true;
                            let lastContextCounter = 0;
                            $(".col-5 input[name='itemId']").each(function () {
                                let count = $("#count" + index).val()
                                if (($(this).val() === "" || count === "") && index === 1) {
                                    alert({% trans 'ItemId' %} + ' & ' {% trans 'count' %} + index + {% trans 'cannot be empty!' %} + lastContextCounter);
                                    result = false;
                                    return false;
                                }

                                if (($(this).val() === "" || count === "") && index > 1) {
                                    if ((index - lastContextCounter) !== 1) {
                                        alert({% trans 'ItemId' %} + ' & ' {% trans 'count' %} + index + {% trans 'cannot be empty!' %} + lastContextCounter);
                                        result = false;
                                        return false;
                                    }
                                }
                                lastContextCounter = lastContextCounter + 1;

                                if ($(this).val() !== "") {

                                    // 物品数量不能为空
                                    if (count === "") {
                                        alert({% trans 'ItemId' %} + $(this).val() + {% trans 'count' %} + count + {% trans 'cannot be empty' %});
                                        result = false;
                                        return false;
                                    }
                                    // 物品数量不能为负数或0
                                    if (count <= 0) {
                                        alert({% trans 'ItemId' %} + $(this).val() + {% trans 'count' %} + count + {% trans 'cannot be negative or zero' %});
                                        result = false;
                                        return false;
                                    }
                                    // 附件id = 1，上限为99999
                                    if ($(this).val() === "1") {
                                        if (count > 99999) {
                                            alert({% trans 'ItemId' %} + $(this).val() + {% trans 'count' %} + count + {% trans 'exceed limit' %} + 99999);
                                            result = false;
                                            return false;
                                        }
                                        // 附件id = 4，上限为180
                                    } else if ($(this).val() === "4") {
                                        if (count > 180) {
                                            alert({% trans 'ItemId' %} + $(this).val() + {% trans 'count' %} + count + {% trans 'exceed limit' %} + 180);
                                            result = false;
                                            return false;
                                        }
                                    } else {
                                        // 其他id下为24
                                        if (count > 24) {
                                            alert({% trans 'ItemId' %} + $(this).val() + {% trans 'count' %} + count + {% trans 'exceed limit' %} + 24);
                                            result = false;
                                            return false;
                                        }
                                    }

                                }
                                index = index + 1;
                            });

                            if (!result)
                                return false;

                            let fpid = fpidStr.split(",");
                            // fpid不重复：通过正则判断fpid数组中是否有重复
                            if (/(\x0f[^\x0f]+)\x0f[\s\S]*\1/.test("\x0f" + fpid.join("\x0f\x0f") + "\x0f")) {
                                alert({% trans 'Player fpid repeated' %} + ": " + fpid);
                                return false;
                            }

                            // 发送邮件弹二次确认框
                            let con;
                            con = confirm("Are you sure to send this mail?"); //在页面上弹出对话框
                            if (con === false) {
                                return false;
                            }
                        });
                    });
                </script>


{#                <div class="form-group">#}
{#                    <label>{% trans 'Icon' %}</label>#}
{#                    <input type="text" name="icon" class="form-control">#}
{#                </div>#}

                <div class="d-flex justify-content-start align-items-center">
                    <button type="submit" id="demo_submit" class="btn bg-blue">{% trans 'Submit' %}<i
                            class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /left aligned buttons -->

    <script>
        $('#create').datetimepicker({
            showSecond: true,
            timeFormat: 'hh:mm:ss z',
            dateFormat: "yy-mm-dd",
            stepHour: 1,
            stepMinute: 5,
            stepSecond: 10,
            showTimezone: true,
            timezoneIso8609: false
        });

        $('#expire').datetimepicker({
            showSecond: true,
            timeFormat: 'hh:mm:ss z',
            dateFormat: "yy-mm-dd",
            stepHour: 1,
            stepMinute: 5,
            stepSecond: 10,
            showTimezone: true,
            timezoneIso8609: false
        });
    </script>

    <!-- Left aligned buttons -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">{% trans 'Send Over' %}</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-form-label col-lg-2">{{ err }}</label>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>内容</th>
                        <th>收件人</th>
                        <th>附件</th>
                        <th>发送时间</th>
                        <th>过期时间</th>
                        <th>邮件类型</th>
                        <th>发件人</th>
                        <th>时间戳</th>
                    </tr>
                    </thead>
                    <tbody>
                        <td>{{p.gm_mail.title}}</td>
                        <td>{{p.gm_mail.content}}</td>
                        <td>{{p.gm_mail.role_ids}}</td>
                        <td>{{p.gm_mail.attachment}}</td>
                        <td>{{p.gm_mail.created_time}}</td>
                        <td>{{p.gm_mail.expired_time}}</td>
                        <td>{{p.gm_mail.mail_type}}</td>
                        <td>{{p.gm_mail.sender}}</td>
                        <td>{{p.time_stamp}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
