{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<div id="serverstatus_index">
<form action="{% url 'serverstatus_addone' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="serverstatus_open_or_close">
				{% trans 'open_or_close [1: open 2: close]' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="open_or_close"
				value="{{ serverstatus.open_or_close }}"
				placeholder="1">
		</div>
        <div class="form-group">
			<label for="serverstatus_effective_time">
				{% trans 'effective time[utc time,eg 2019-12-27 00:30:00]' %}
			</label>
		    <input type="text"
                    {{ lock.status_attr }}
                    class="form-control"
			        name="effective_time"
			        value="{{ serverstatus.effective_time }}"
			        placeholder="2019-12-27 00:30:00">
        </div>
		<button type="submit"
			class="btn btn-primary"	{{ lock.status_attr }}>
			{% trans 'Submit' %}
		</button>
	</form>
  <script>
    function addOne() {
      L.crudCreate('btn-create', {
        name: 'test me',
      }, function() {
        L.info('create data success')
      })
    }

    $(document).ready(function() {
      //init functions when page is ready
      $('a[data-crud]').each(function(idx, elem) {
        L.editable($(elem));
      });
    })
  </script>
</div>

{% endblock %}
