{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}
    <script>
        $(
            function () {
                $("#btn_global_routing_rules_delete").click(
                    function () {
                            if (confirm("Are you sure to delete?") == false){
                                return false
                            }
                    }
                )
            }
        )
  </script>
    <!------content------>
<div id="globalRoutingRules_index">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRoutingRulesModal" {{ lock.status_attr }}>
        {% trans 'Add Tag Data' %}
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                 <th scope="col">{% trans 'gameid' %}</th>
                 <th scope="col">{% trans 'gameversion' %}</th>
                 <th scope="col">{% trans 'environment' %}</th>
                 <th scope="col">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in dataList.routing_rules_list %}
            <tr>
                <td id="routing_rules_list-{{ v.game_id }}">{{ v.game_id }}</td>
                <td id="routing_rules_list-{{ v.game_version }}">{{ v.game_version }}</td>
                <td id="routing_rules_list-{{ v.environment }}">{{ v.environment }}</td>
              	<td>
					<form action={% url 'globalRoutingRules_delete' %} method="post">
						{% csrf_token %}
						<input type="text"
							name="gameId"
							value="{{ v.game_id }}"
							style="display:none"
							{{ lock.status_attr }}>
                        	<input type="text"
							name="gameversion"
							value="{{ v.game_version }}"
							style="display:none"
							{{ lock.status_attr }}>
						<button type="submit"
                                id="btn_global_routing_rules_delete"
							class="btn btn-danger"
							{{ lock.status_attr}}>
							{% trans 'Delete' %}
						</button>
					</form>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!---add whitelist fpid modal-->
<div class="modal fade"
		id="addRoutingRulesModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'globalRoutingRules_addone' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addSealIpModalLabel">
							{% trans "AppendTitle" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="GameIdTitleName" class="col-form-label">
								{% trans 'GameId' %}
							</label>
							<input type="text"
								class="form-control"
								id="gameId"
								name="gameId"
								{{ lock.status_attr }}>
						</div>
                        <div class="form-group">
							<label for="GameVersionTitleName" class="col-form-label">
								{% trans 'GameVersion' %}
							</label>
							<input type="text"
								class="form-control"
								id="gameversion"
								name="gameversion"
								{{ lock.status_attr }}>
						</div>
                        <div class="form-group">
							<label for="GameEnvironmentTitleName" class="col-form-label">
								{% trans 'GameEnvironment' %}
							</label>
							<input type="text"
								class="form-control"
								id="environment"
								name="environment"
								{{ lock.status_attr }}>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit"
							class="btn btn-primary"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-------->
{% endblock %}
