{% extends "page_layout.html" %}
{% load i18n %}

{% block content %}

<div id="lock_index">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">{% trans 'Lock Name' %}</th>
				<th scope="col">{% trans 'Lock Owner' %}</th>
				<th scope="col">{% trans 'Lock Time' %}</th>
				<th scope="col">{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
			{% for lck in locks %}
			<tr>
				<td>{% trans lck.lock_title %}</td>
				<td>{{ lck.locked_by }}</td>
				<td>{{ lck.locked_time|date:'Y-m-d H:i:s' }}</td>
				<td>
					<form action={% url 'lock_release' %} method="post">
						{% csrf_token %}
						<input type="text"
							name="lockname"
							value="{{ lck.name }}"
							style="display:none">
						<button type="submit"
							class="btn btn-danger">
							{% trans 'Release' %}
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
