/* ------------------------------------------------------------------------------
 *  Library Global CSS Styles
 * ---------------------------------------------------------------------------- */

/* customization for select2 */
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	background-color: #455A64;
	color: white;
}
