{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<!--div id="kickplayer_index">
  <h5>{% trans 'Welcome to' %}: {{ kickplayer.name }}</h5>
  <button type="button"
    id="btn-create"
    class="btn btn-primary"
    crud-module="kickplayer"
    onclick="addOne()"
    {{ lock.status_attr }}>
    CRUD Test
  </button>
  <form action={% url 'kickplayer_addone' %} method="post">
    {% csrf_token %}
    <input type="text"
      name="name"
      value="test him"
      style="display:none">
    <input type="text"
      name="redirect"
      value="{{ request.get_full_path }}"
      style="display:none">
    <button type="submit"
      class="btn btn-danger"
      {{ lock.status_attr}}>
      {% trans 'Form Test' %}
    </button>
  </form>
  <a href="#"
    data-type="text"
    data-pk="1"
    data-crud="kickplayer"
    data-name="name"
    data-value="{{ kickplayer.name }}"
    data-disabled="{{ lock.status_attr }}">
  </a>
  <script>
    function addOne() {
      L.crudCreate('btn-create', {
        name: 'test me',
      }, function() {
        L.info('create data success')
      })
    }

    $(document).ready(function() {
      //init functions when page is ready
      $('a[data-crud]').each(function(idx, elem) {
        L.editable($(elem));
      });
    })
  </script>
</div----->

    <div id="kickplayer_index">
<form action="{% url 'kickplayer_kickout' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="kickplayer_fpid">
				{% trans 'FpId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="kickplayer_fpid"
				value=""
				placeholder="1">
		</div>
		<button type="submit"
			class="btn btn-primary"	{{ lock.status_attr }}>
			{% trans 'Submit' %}
		</button>
	</form>
</div>

{% endblock %}
