{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}
  <script>
        $(
            function () {
                $("#btn_sealfpid").click(
                    function () {
                            if (confirm("Are you sure to delete?") == false){
                                return false
                            }
                    }
                )
            }
        )
  </script>
    <!--------content--------->
<div id="sealfpid_index">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSealFpIdModal" {{ lock.status_attr }}>
        {% trans 'ActionSealFpid' %}
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans 'FpId' %}</th>
                <th scope="col">{% trans 'Expired Time' %}</th>
                <th scope="col">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in dataList %}
            <tr>
                <td id="seal_fpid-{{ v.id }}">{{ v.id }}</td>
                <td id="seal_fpid-{{ v.expired_time }}">{{ v.expired_time }}</td>
                <td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle"
							type="button"
							id="dropdownMenuButtonFpid"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							{{ lock.status_attr }}>
							{% trans 'Actions' %}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<button type="button"
								class="dropdown-item"
								data-toggle="modal"
								data-target="#addSealFpIdModal"
								<!--onclick="initUsersList({{ grp }})"-->
								{{ lock.status_attr }}>
								{% trans 'Edit' %}
							</button>
                            <form action={% url 'sealfpid_delete' %} method="post">
						    {% csrf_token %}
						    <input type="text"
							    name="fpid"
							    value="{{ v.id }}"
							    style="display:none"
							    {{ lock.status_attr }}>
						    <button type="submit"
                                    id="btn_sealfpid"
							    class="dropdown-item"
							    {{ lock.status_attr}}>
							    {% trans 'Delete' %}
						    </button>
					    </form>
						</div>
					</div>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!---add seal fpid modal-->
<div class="modal fade"
		id="addSealFpIdModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addSealFpIdModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'sealfpid_addone' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addSealIpModalLabel">
							{% trans "SealFpIdTitle" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="sealFpIdTitleName" class="col-form-label">
								{% trans 'SealFpIdTitleName' %}
							</label>
							<input type="text"
								class="form-control"
								id="sealFpId"
								name="sealFpId"
								{{ lock.status_attr }}>
						</div>
                        <div class="form-group-expiredTime">
							<label for="sealFpIpExpireTime" class="col-form-label">
								{% trans 'Expire Time fmt 2020-01-02 08:30:00' %}
							</label>
							<input type="text"
								class="form-control"
								id="expiredTime"
								name="expiredTime"
								{{ lock.status_attr }}>
						</div>
					</div>
					<div class="modal-footer">
                        <!----
						<button type="button"
							class="btn btn-secondary"
							data-dismiss="modal">
							{% trans 'Close' %}
						</button>
						--->
						<button type="submit"
							class="btn btn-primary"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-------->

{% endblock %}
