{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}
<style>
  #tableCard .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 15px;
  }

  #tableCard .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 40px;
  }

  #tableCard .datatable-scroll {
    overflow: auto;
  }
</style>
<div id="qualitySetting_index">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addQualityConfModal"
    {{ lock.status_attr }}>
    {% trans 'Add Quality Config' %}
  </button>
  <div class="card" id="tableCard">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">{% trans 'Quality Setting Conf' %}</h5>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>
  
    <table class="table datatable-basic" id="datatable-qualitySettingConf">
      <thead>
        <tr>
          <th class="text-center">{% trans 'Quaility Id' %}</th>
          <th class="text-center">{% trans 'Quaility Name' %}</th>

          <th class="text-center">{% trans 'Quality Level' %}</th>
          <th class="text-center">{% trans 'Shader Lod' %}</th>
          <th class="text-center">{% trans 'Antialiasing' %}</th>
          <th class="text-center">{% trans 'Show Particle' %}</th>
          <th class="text-center">{% trans 'Particle Level' %}</th>
          <th class="text-center">{% trans 'Screen Reslution' %}</th>
          <th class="text-center">{% trans 'Max Reslution' %}</th>
          <th class="text-center">{% trans 'Screen Effect' %}</th>
          <th class="text-center">{% trans 'GraphicsTier' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in qualitySettingConf %}
        <tr>
          <td class="text-center">{{ obj.id }}</td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="config_name" data-value="{{ obj.config_name }}"
              data-disabled="{{ lock.status_attr }}">
            </a>
          </td>

          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="quality_level"
              data-value="{{ obj.quality_level }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="shader_lod"
              data-value="{{ obj.shader_lod }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="antialiasing"
              data-value="{{ obj.antialiasing }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" class="data-crud-boolen" data-type="select" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="show_particle_effect"
            data-value="{{ obj.show_particle_effect|yesno:'1,0'}}"
              data-disabled="{{ lock.status_attr }}">
              <!-- True -->
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="particle_effect_level"
              data-value="{{ obj.particle_effect_level }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="screen_resolution"
              data-value="{{ obj.screen_resolution }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="max_screen_resolution"
              data-value="{{ obj.max_screen_resolution }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" class="data-crud-boolen" data-type="select" data-pk="{{ obj.id }}" data-crud="qualitySettingConf"
              data-name="show_screen_effect" data-value="{{ obj.show_screen_effect|yesno:'1,0'}}"
              data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" data-type="text" data-pk="{{ obj.id }}" data-crud="qualitySettingConf" data-name="graphics_tier"
              data-value="{{ obj.graphics_tier }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Basic datatable -->
  <div class="card" id="tableCard">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">{% trans 'Quality Setting' %}</h5>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>
  
    <table class="table datatable-basic" id="datatable-qualitySetting">
      <thead>
        <tr>
          <th class="text-center">{% trans 'Device Module' %}</th>
          <th class="text-center">{% trans 'Processor Type' %}</th>
          <th class="text-center">{% trans 'OS' %}</th>
          <th class="text-center">{% trans 'Graphics Device Name' %}</th>
          <th class="text-center">{% trans 'Device Num' %}</th>
          <th class="text-center">{% trans 'Processor Num' %}</th>
          <th class="text-center">{% trans 'Shader Level' %}</th>
          <th class="text-center">{% trans 'Config Id' %}</th>
          <th class="text-center">{% trans 'White List' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in qualitySetting %}
        <tr>
          <td class="text-center">{{ obj.dname }}</td>
          <td class="text-center">{{ obj.pt }}</td>
          <td class="text-center">{{ obj.os }}</td>
          <td class="text-center">{{ obj.gdname }}</td>
          <td class="text-center">{{ obj.num }}</td>
          <td class="text-center">{{ obj.pc }}</td>
          <td class="text-center">{{ obj.gsl }}</td>
          <td class="text-center">
            <a href="#" class="data-crud-config-id" data-type="select" data-pk="{{ obj.id }}" data-crud="qualitySetting" data-name="config_id"
              data-value="{{ obj.config_id }}" data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
          <td class="text-center">
            <a href="#" class="data-crud-boolen" data-type="select" data-pk="{{ obj.id }}" data-crud="qualitySetting"
              data-name="white_list" data-value="{{ obj.white_list|yesno:'1,0'}}"
              data-disabled="{{ lock.status_attr }}">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="addQualityConfModal" tabindex="-1" role="dialog" aria-labelledby="addQualityConfLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title" id="editLogSettingModalLabel">
            {% trans "Add QualityConf" %}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form style="width:60%;margin:20px auto;">
          <div class="form-group">
            <label for="config_name" class="col-form-label">
              {% trans 'config_name' %}
            </label>
            <input type="text" class="form-control" id="config_name" name="config_name" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="shader_lod" class="col-form-label">
              {% trans 'shader_lod' %}
            </label>
            <input type="text" class="form-control" id="shader_lod" name="shader_lod" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="antialiasing" class="col-form-label">
              {% trans 'antialiasing' %}
            </label>
            <input type="text" class="form-control" id="antialiasing" name="antialiasing" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="show_particle_effect" class="col-form-label">
              {% trans 'show_particle_effect' %}
            </label>
            <select class="form-control" id="show_particle_effect" name="show_particle_effect"
              {{ lock.status_attr }}>
              <option value=1>True</option>
              <option value=0>False</option>
            </select>
          </div>
          <div class="form-group">
            <label for="screen_resolution" class="col-form-label">
              {% trans 'screen_resolution' %}
            </label>
            <input type="text" class="form-control" id="screen_resolution" name="screen_resolution" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="graphics_tier" class="col-form-label">
              {% trans 'graphics_tier' %}
            </label>
            <input type="text" class="form-control" id="graphics_tier" name="graphics_tier" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="particle_effect_level" class="col-form-label">
              {% trans 'particle_effect_level' %}
            </label>
            <input type="text" class="form-control" id="particle_effect_level" name="particle_effect_level" {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="max_screen_resolution" class="col-form-label">
              {% trans 'max_screen_resolution' %}
            </label>
            <input type="text" class="form-control" id="max_screen_resolution" name="max_screen_resolution"
              {{ lock.status_attr }}>
          </div>
          <div class="form-group">
            <label for="show_screen_effect" class="col-form-label">
              {% trans 'show_screen_effect' %}
            </label>
            <select class="form-control" id="show_screen_effect" name="show_screen_effect" {{ lock.status_attr }}>
              <option value=1>True</option>
              <option value=0>False</option>
            </select>
          </div>
          <div class="form-group">
            <label for="quality_level" class="col-form-label">
              {% trans 'quality_level' %}
            </label>
            <input type="text" class="form-control" id="quality_level" name="quality_level" {{ lock.status_attr }}>
          </div>
          
        </form>
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {% trans 'Close' %}
          </button>
          <button type="button" class="btn btn-primary" onclick="addQualitySettingConf()" {{ lock.status_attr }} crud-module="qualitySettingConf" id="conf-create">
            {% trans 'Submit' %}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- /basic datatable -->

  <script>
    // $(document).ready(function() {
    //   //init functions when page is ready
    //   $('a[data-crud]').each(function(idx, elem) {
    //     L.editable($(elem));
    //   });
    // })
    /* ------------------------------------------------------------------------------
   *
   *  # Basic datatables
   *
   *  Demo JS code for datatable_basic.html page
   *
   * ---------------------------------------------------------------------------- */


      // Setup module
      // ------------------------------
      var qualitySettingConf = null;
      var qualitySettingxxx = null;
      var DatatableBasic = function () {


        //
        // Setup module components
        //

        // Basic Datatable examples
        var _componentDatatableBasic = function () {
          if (!$().DataTable) {
            console.warn('Warning - datatables.min.js is not loaded.');
            return;
          }

          // Setting datatable defaults
          $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
              orderable: false,
              width: 100,
              targets: [5]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
              search: '<span>Filter:</span> _INPUT_',
              searchPlaceholder: 'Type to filter...',
              lengthMenu: '<span>Show:</span> _MENU_',
              paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
          });

          // Basic datatable
          qualitySettingConf = $('#datatable-qualitySettingConf').DataTable({
            
            "fixedColumns": {
              "leftColumns": 1
            }
          });

          qualitySettingxxx = $('#datatable-qualitySetting').DataTable({

            "fixedColumns": {
              "leftColumns": 1
            }
          });

          // Alternative pagination
          $('.datatable-pagination').DataTable({
            pagingType: "simple",
            language: {
              paginate: { 'next': $('html').attr('dir') == 'rtl' ? 'Next &larr;' : 'Next &rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr; Prev' : '&larr; Prev' }
            }
          });

          // Datatable with saving state
          $('.datatable-save-state').DataTable({
            stateSave: true
          });

          // Scrollable datatable
          var table = $('.datatable-scroll-y').DataTable({
            autoWidth: true,
            scrollY: 300
          });

          // Resize scrollable table when sidebar width changes
          $('.sidebar-control').on('click', function () {
            table.columns.adjust().draw();
          });
        };

        // Select2 for length menu styling
        var _componentSelect2 = function () {
          if (!$().select2) {
            console.warn('Warning - select2.min.js is not loaded.');
            return;
          }

          // Initialize
          $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            dropdownAutoWidth: true,
            width: 'auto'
          });
        };



        //
        // Return objects assigned to module
        //

        return {
          init: function () {
            _componentDatatableBasic();
            _componentSelect2();
          }
        }
      }();


      // Initialize module
      // ------------------------------

      // document.addEventListener('DOMContentLoaded', function () {
      //   DatatableBasic.init();
      // });
    $('#datatable-qualitySetting').on('draw.dt', function () {
        // console.log(page)
        var data = qualitySettingConf.rows().data();
        var source = []
        for (var i = 0; i < data.length; i++) {
          var row = qualitySettingConf.rows(i).data()
          source.push({ value: row[0][0], text: $(row[0][1]).attr("data-value") })
        }

        $('.data-crud-config-id').each(function (idx, elem){
          L.editable(elem, {source: source});
        })

        $('.data-crud-boolen').each(function (idx, elem){
          L.editable(elem, { source: [
              { value: 0, text: 'False' },
              { value: 1, text: 'True' }
            ]});
        })
        
        
    });
    $(document).ready(function () {
      DatatableBasic.init();
      // init functions when page is ready
      $('a[data-crud]').each(function (idx, elem) {
        var jqelem = $(elem);
        options = {}
        if(jqelem.hasClass('data-crud-boolen')) {
          options = {
            source: [
              { value: 0, text: 'False' },
              { value: 1, text: 'True' }
            ]
          };
        }
        else if (jqelem.hasClass('data-crud-config-id')){
          var data = qualitySettingConf.rows().data();
          var source = []
          for (var i = 0; i < data.length; i++) {
            var row = qualitySettingConf.rows(i).data()
            source.push({value: row[0][0], text: $(row[0][1]).attr("data-value")})
          }
          // $('#qualitySettingConf').val().forEach(function (val) {
          //   console.log(val);
          // })
          
          options = {
            source: source
          };
        }
        L.editable($(elem), options);
      });


    })

  function addQualitySettingConf() {
    
    var cursetting = new Object()
    if ($('#config_name').val() == ''){
      L.alert("config name not be empty")
      return
    }

    if ($('#shader_lod').val() == '') {
      L.alert("shader lod not be empty")
      return
    }

    if ($('#antialiasing').val() == '') {
      L.alert("antialiasing not be empty")
      return
    }

    if ($('#show_particle_effect').val() == '') {
      L.alert("show_particle_effect not be empty")
      return
    }

    if ($('#screen_resolution').val() == '') {
      L.alert("screen_resolution not be empty")
      return
    }

    if ($('#graphics_tier').val() == '') {
      L.alert("graphics_tier not be empty")
      return
    }

    if ($('#particle_effect_level').val() == '') {
      L.alert("particle_effect_level not be empty")
      return
    }

    if ($('#max_screen_resolution').val() == '') {
      L.alert("max_screen_resolution not be empty")
      return
    }

    if ($('#show_screen_effect').val() == '') {
      L.alert("show_screen_effect not be empty")
      return
    }

    if ($('#quality_level').val() == '') {
      L.alert("quality_level not be empty")
      return
    }

    cursetting['config_name'] = $('#quality_level').val()
    cursetting['shader_lod'] = $('#shader_lod').val()
    cursetting['antialiasing'] = $('#antialiasing').val()
    cursetting['show_particle_effect'] = $('#show_particle_effect').val()
    cursetting['screen_resolution'] = $('#screen_resolution').val()
    cursetting['graphics_tier'] = $('#graphics_tier').val()
    cursetting['particle_effect_level'] = $('#particle_effect_level').val()
    cursetting['max_screen_resolution'] = $('#max_screen_resolution').val()
    cursetting['show_screen_effect'] = $('#show_screen_effect').val()
    cursetting['quality_level'] = $('#quality_level').val()
    L.crudCreate("conf-create", cursetting, function (payload) {
        $('#addQualityConfModal').modal('hide');
        location.reload();
    })
      // L.postJson("{% url 'log_setting_update' %}",
      //   { "plogSetting": cursetting },
      //   function (payload) {
      //     $('#addTagModal').modal('hide');
      //     location.reload();
      //   }
      // )
  }

  </script>
</div>

{% endblock %}
