{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<div id="sandbox_index">
	<form action="{% url 'sandbox_save' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="sandbox_name">
				{% trans 'Name' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="name"
				value="{{ sandbox.name }}"
				placeholder="user1">
		</div>
		<div class="form-group">
			<label for="sandbox_hash">
				{% trans 'Hash' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="hash"
				value="{{ sandbox.hash }}"
				placeholder="7f1231def">
		</div>
		<div class="form-group">
			<label for="sandbox_level">
				{% trans 'Level' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="level"
				value="{{ sandbox.level }}"
				placeholder="10">
		</div>
		<input type="text"
			name="id"
			value="{{ sandbox.id }}"
			style="display:none">
		<input type="text"
			name="redirect"
			value="{{ request.get_full_path }}"
			style="display:none">
		<button type="submit"
			class="btn btn-primary"	{{ lock.status_attr }}>
			{% trans 'Submit' %}
		</button>
	</form>
	<a href="#"
		data-type="text"
		data-pk="1"
		data-crud="sandbox"
		data-name="name"
		data-value="{{ sandbox.name }}"
		data-disabled="{{ lock.status_attr }}">
	</a>
	<a href="#"
		data-type="text"
		data-pk="1"
		data-crud="sandbox"
		data-name="level"
		data-value="{{ sandbox.level }}"
		data-disabled="{{ lock.status_attr }}">
	</a>
	<script>
	 $(document).ready(function() {
		 $('a[data-crud]').each(function(idx, elem) {
			 L.editable($(elem));
		 });
	 });
	</script>
</div>

{% endblock %}
