{% extends "page_layout.html" %}

{% block content %}

<div id="sandbox_index">
	<button type="button"
		id="btn-create"
		class="btn btn-primary"
		crud-module="sandbox"
		onclick="addData()"
		{{ lock.status_attr }}>
		Add Data
	</button>
	<button type="button"
		id="btn-delete"
		class="btn btn-primary"
		crud-module="sandbox"
		crud-id="4"
		onclick="deleteData()"
		{{ lock.status_attr }}>
		Delete Data
	</button>
	<button type="button"
		id="btn-update"
		class="btn btn-primary"
		crud-module="sandbox"
		crud-id="4"
		onclick="updateData()"
		{{ lock.status_attr }}>
		Update Data
	</button>
	<button type="button"
		id="btn-query"
		class="btn btn-primary"
		crud-module="sandbox"
		crud-id="4"
		onclick="queryData()"
		{{ lock.status_attr }}>
		Query Data
	</button>
	<button type="button"
		id="btn-queryall"
		class="btn btn-primary"
		crud-module="sandbox"
		crud-id="4"
		onclick="queryAllData()"
		{{ lock.status_attr }}>
		Query All Data
	</button>
	<script>
	 function addData() {
		 L.crudCreate('btn-create', {
			 name: 'asd',
			 hash: '123',
		 }, function() {
			 L.info('create data success')
		 })
	 }

	 function deleteData() {
		 L.crudDelete('btn-delete', function() {
			 L.info('delete data success')
		 })
	 }

	 function updateData() {
		 L.crudUpdate('btn-update', {
			 hash: '456',
		 }, function() {
			 L.info('update data success')
		 })
	 }

	 function queryData() {
		 L.crudQuery('btn-query', function() {
			 L.info('query data success')
		 })
	 }

	 function queryAllData() {
		 L.crudQueryAll('btn-queryall', function() {
			 L.info('queryall data success')
		 })
	 }
	</script>
</div>

{% endblock %}
