{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}
  <script>
        $(
            function () {
                $("#btn_whitelistfpid_delete").click(
                    function () {
                            if (confirm("Are you sure to delete?") == false){
                                return false
                            }
                    }
                )
            }
        )
  </script>
    <!------content------>
<div id="whitelistfpid_index">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFpIdModal" {{ lock.status_attr }}>
        {% trans 'Add Tag Data' %}
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans 'FPID' %}</th>
                <th scope="col">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in dataList.fp_id_list %}
            <tr>
                <td id="whitelist_fpid-{{ v }}">{{ v }}</td>
              	<td>
					<form action={% url 'whitelistfpid_delete' %} method="post">
						{% csrf_token %}
						<input type="text"
							name="FpId"
							value="{{ v }}"
							style="display:none"
							{{ lock.status_attr }}>
						<button type="submit"
                                id="btn_whitelistfpid_delete"
							class="btn btn-danger"
							{{ lock.status_attr}}>
							{% trans 'Delete' %}
						</button>
					</form>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!---add whitelist fpid modal-->
<div class="modal fade"
		id="addFpIdModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'whitelistfpid_addone' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addSealIpModalLabel">
							{% trans "AppendTitle" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="FpIdTitleName" class="col-form-label">
								{% trans 'FpIdTitleName' %}
							</label>
							<input type="text"
								class="form-control"
								id="FpId"
								name="FpId"
								{{ lock.status_attr }}>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit"
							class="btn btn-primary"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-------->

{% endblock %}
