{% extends "page_layout.html" %}
{% load i18n %}
{% block content %}
<div id="plog_setting_index">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTagModal" {{ lock.status_attr }}>
        {% trans 'Add Tag' %}
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans 'tag' %}</th>
                <th scope="col">{% trans 'enable_mode_list' %}</th>
                <th scope="col">{% trans 'log_level_site' %}</th>
                <th scope="col">{% trans 'log_output_site' %}</th>
                <th scope="col">{% trans 'unity_log_open' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in plogsettings %}
            <tr>
                <td id="plog-fpid-{{ v.tag.id }}">{{ v.tag.name }}</td>
                <td id="plog-module-list-{{ v.tag.id }}">
                    <span>
                        {% for obj in v.enable_mode_list %}
                            <span>{{ obj.name }}</span>
                            {% if forloop.counter != v.enable_mode_list|length %}
                                <span>|</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </td>
                <td id="plog-log-level-{{ v.tag.id }}">
                    <span>
                        {% for obj in v.log_level_site %}
                        <span>{{ obj.name }}</span>
                        {% if forloop.counter != v.log_level_site|length %}
                        <span>|</span>
                        {% endif %}
                        {% endfor %}
                    </span>
                </td>
                <td id="plog-log-output-type-{{ v.tag.id }}">
                    <span>
                        {% for obj in v.log_output_site %}
                        <span>{{ obj.name }}</span>
                        {% if forloop.counter != v.log_output_site|length %}
                        <span>|</span>
                        {% endif %}
                        {% endfor %}
                    </span>
                </td>
                <td id="plog-unity-log-status-{{ v.tag.id }}">
                    {{ v.unity_log_open.name }}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" {{ lock.status_attr }}>
                            {% trans 'Actions' %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button type="button" class="dropdown-item" 
                                data-toggle="modal" data-target="#editLogSettingModal"
                                onclick="initPlogSetting({{ v }})"
                                 {{ lock.status_attr }}>
                                {% trans 'Edit Tags' %}
                            </button>
                            <form action={% url 'log_setting_delete' %} method="post">
                                {% csrf_token %}
                                <input type="text" name="tag" value="{{ v.tag.id }}" style="display:none" {{ lock.status_attr }}>
                                </input>
                                <button type="submit" class="dropdown-item" {{ lock.status_attr }}>
                                    {% trans 'Delete' %}
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="editLogSettingModal" tabindex="-1" role="dialog" aria-labelledby="editLogSettingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLogSettingModalLabel">
                            {% trans "Edit PlogSetting" %}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form style="width:60%;margin:20px auto;">
                        <div class="form-group">
                            <label for="plogmoduleList" class="col-form-label">
                                {% trans 'Plog Mode List' %}
                            </label>
                            <select class="form-control" id="plogmoduleList" name="plogmoduleList" multiple="multiple" {{ lock.status_attr }}>
                                {% for p in modetype %}
                                <option value={{ p.id }}>{{ p.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="plogLevelList" class="col-form-label">
                                {% trans 'Plog Level List' %}
                            </label>
                            <select class="form-control" id="plogLevelList" name="plogLevelList" multiple="multiple" {{ lock.status_attr }}>
                                {% for p in logleveltype %}
                                <option value={{ p.id }}>{{ p.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="plogOutputList" class="col-form-label">
                                {% trans 'Plog Output List' %}
                            </label>
                            <select class="form-control" id="plogOutputList" name="plogOutputList" multiple="multiple" {{ lock.status_attr }}>
                                {% for p in outputtype %}
                                <option value={{ p.id }}>{{ p.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-10">
                                <div class="form-check form-check-right form-check-switchery form-check-switchery-sm">
                                    <label class="form-check-label">
                                        {% trans 'Plog Unity Log Open' %}
                                        <input type="checkbox" class="form-input-switchery" checked data-fouc>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            {% trans 'Close' %}
                        </button>
                        <button type="button" class="btn btn-primary" onclick="updateLogSetting()"
                            {{ lock.status_attr }}>
                            {% trans 'Submit' %}
                        </button>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
    
                <div class="modal-header">
                    <h5 class="modal-title" id="editLogSettingModalLabel">
                        {% trans "Add PlogSetting" %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form style="width:60%;margin:20px auto;">
                    <div class="form-group">
                        <label for="tag" class="col-form-label">
                            {% trans 'tag' %}
                        </label>
                        <input type="text" class="form-control" id="tag" name="tag" {{ lock.status_attr }}>
                    </div>
                    <div class="form-group">
                        <label for="plogmoduleList" class="col-form-label">
                            {% trans 'Plog Mode List' %}
                        </label>
                        <select class="form-control" id="addplogmoduleList" name="plogmoduleList" multiple="multiple"
                            {{ lock.status_attr }}>
                            {% for p in modetype %}
                            <option value={{ p.id }}>{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plogLevelList" class="col-form-label">
                            {% trans 'Plog Level List' %}
                        </label>
                        <select class="form-control" id="addplogLevelList" name="plogLevelList" multiple="multiple"
                            {{ lock.status_attr }}>
                            {% for p in logleveltype %}
                            <option value={{ p.id }}>{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plogOutputList" class="col-form-label">
                            {% trans 'Plog Output List' %}
                        </label>
                        <select class="form-control" id="addplogOutputList" name="plogOutputList" multiple="multiple"
                            {{ lock.status_attr }}>
                            {% for p in outputtype %}
                            <option value={{ p.id }}>{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-10">
                            <div class="form-check form-check-right form-check-switchery form-check-switchery-sm">
                                <label class="form-check-label">
                                    {% trans 'Plog Unity Log Open' %}
                                    <input type="checkbox" class="form-input-switchery" checked data-fouc>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
    
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addLogSetting()" {{ lock.status_attr }}>
                        {% trans 'Submit' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var plogSetingInEdit = null;
        function initPlogSetting(plogsetting) {
            plogSetingInEdit = plogsetting
            if (plogSetingInEdit && plogSetingInEdit.enable_mode_list.length > 0) {
                pids = []
                plogSetingInEdit.enable_mode_list.forEach(function (p) {
                    pids.push(p.id)
                })
                $("#plogmoduleList").val(pids)
            } else {
                $('#plogmoduleList').val(null)
            }
            $('#plogmoduleList').trigger('change')
            if (plogSetingInEdit && plogSetingInEdit.log_level_site.length > 0) {
                pids = []
                plogSetingInEdit.log_level_site.forEach(function (p) {
                    pids.push(p.id)
                })
                $("#plogLevelList").val(pids)
            } else {
                $('#plogLevelList').val(null)
            }
            $('#plogLevelList').trigger('change')
            if (plogSetingInEdit && plogSetingInEdit.log_output_site.length > 0) {
                pids = []
                plogSetingInEdit.log_output_site.forEach(function (p) {
                    pids.push(p.id)
                })
                $("#plogOutputList").val(pids)
            } else {
                $('#plogOutputList').val(null)
            }
            $('#plogOutputList').trigger('change')
            if ($('.form-input-switchery')[0].checked != (plogSetingInEdit.unity_log_open['id'] == 1)){
                $('.form-input-switchery').trigger('click')
            }
        }

        function addLogSetting() {
            var cursetting = new Object()
            cursetting['tag'] = new Object()
            cursetting['unity_log_open'] = new Object()
            cursetting['enable_mode_list'] = new Object()
            cursetting['log_level_site'] = new Object()
            cursetting['log_output_site'] = new Object()
            cursetting['tag'].id = $('#tag').val()
            var ischeck = $('.form-input-switchery')[0].checked;
            if (ischeck) {
                cursetting['unity_log_open']['id'] = 1;
            } else {
                cursetting['unity_log_open']['id'] = 0;
            }
            cursetting['enable_mode_list'] = []
            $('#addplogmoduleList').val().forEach(function (val) {
                cursetting['enable_mode_list'].push({ id: parseInt(val, 10) })
            })

            cursetting['log_level_site'] = []
            $('#addplogLevelList').val().forEach(function (val) {
                cursetting['log_level_site'].push({ id: parseInt(val, 10) })
            })

            cursetting['log_output_site'] = []
            $('#addplogOutputList').val().forEach(function (val) {
                cursetting['log_output_site'].push({ id: parseInt(val, 10) })
            })
            L.postJson("{% url 'log_setting_update' %}",
                { "plogSetting": cursetting },
                function (payload) {
                    $('#addTagModal').modal('hide');
                    location.reload();
                }
            )
        }

        function updateLogSetting() {
            cursetting = plogSetingInEdit
            if (cursetting == null){
                return
            }
            var ischeck = $('.form-input-switchery')[0].checked;
            if (ischeck){
                cursetting['unity_log_open']['id'] = 1;
            }else {
                cursetting['unity_log_open']['id'] = 0;
            }
            cursetting['enable_mode_list'] = []
            $('#plogmoduleList').val().forEach(function (val) {
                cursetting['enable_mode_list'].push({id: parseInt(val, 10)})
            })

            cursetting['log_level_site'] = []
            $('#plogLevelList').val().forEach(function (val) {
                cursetting['log_level_site'].push({ id: parseInt(val, 10) })
            })

            cursetting['log_output_site'] = []
            $('#plogOutputList').val().forEach(function (val) {
                cursetting['log_output_site'].push({ id: parseInt(val, 10) })
            })

            L.postJson("{% url 'log_setting_update' %}",
                {"plogSetting": cursetting},
                   function(payload) {
                        $('#editLogSettingModal').modal('hide');
                        location.reload();
                    }
            )
        }
        $(document).ready(function () {
                $("#plogmoduleList").select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Mode' %}",
                    theme: "classic",
                });
                $('#plogLevelList').select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Level' %}",
                    theme: "classic",
                });
                $('#plogOutputList').select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Output' %}",
                    theme: "classic",
                });

                $("#addplogmoduleList").select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Mode' %}",
                    theme: "classic",
                });
                $('#addplogLevelList').select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Level' %}",
                    theme: "classic",
                });
                $('#addplogOutputList').select2({
                    width: "100%",
                    placeholder: "{% trans 'Select Plog Output' %}",
                    theme: "classic",
                });

                var switches = Array.prototype.slice.call(document.querySelectorAll('.form-input-switchery'));
                switches.forEach(function (html) {
                var switchery = new Switchery(html);
                switchery.element.checked  = false;
                switchery.setPosition();
            });
        });
    </script>
</div>

{% endblock %}
