{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<div id="deleteuser_index">
 <form action="{% url 'deleteuser_delete' %}" method="post">
		{% csrf_token %}
     		<div class="form-group">
			<label for="deleteuser_fpid">
				{% trans 'FpId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="fpid"
				value=""
				placeholder="1">
		</div>
		<div class="form-group">
			<label for="deleteuser_roleid">
				{% trans 'RoleId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="roleid"
				value=""
				placeholder="1">
		</div>
		<button type="submit"
			class="btn btn-primary"	{{ lock.status_attr }}>
			{% trans 'Submit' %}
		</button>
	</form>
</div>

{% endblock %}
