<li class="nav-item nav-item-submenu">
	<a href="#" class="nav-link">
		<i class="{{ nav_item.icon }}"></i>
		<span>{{ nav_item.title }}</span>
	</a>
	<ul class="nav nav-group-sub"
		data-submenu-title="{{ nav_item.title }}">

		{% for g in nav_item.group %}
    {% with nav_item=g template_name="navitem.html" %}
    {% include template_name %}
    {% endwith %}
    {% endfor %}

		{% for m in nav_item.module %}
		<li class="nav-item">
			<a href="{% url m.url %}" class="nav-link">
				<i class="{{ m.icon }}"></i>
				<span>{{ m.title }}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
</li>
