<div id="page-footer" class="navbar navbar-expand-sm navbar-dark">
	<div class="navbar-collapse collapse" id="navbar-footer">
		<span class="navbar-nav ml-lg-auto">
			{{ application }} {{ environment }}
		</span>
	</div>
</div>
