<div id="page-navigation" class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
	<div class="sidebar-content">
		<div class="card card-sidebar-mobile">
				<ul class="nav nav-sidebar" data-nav-type="accordion">
					{% for nav_item in module.layouts %}
					{% include 'navitem.html' %}
					{% endfor %}
				</ul>
		</div>
	</div>
</div>
