{% load i18n %}
<div id="page-banner" class="navbar navbar-expand-md navbar-dark">
	<div class="navbar-brand" style="padding-top:0.2rem;padding-bottom:0rem;">
		<a href="{% url 'home' %}" class="d-inline-block">
			<h3 style="color:white">
				<strong>
					{{ application }} {{ environment }}</h3>
				</strong>
		</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-mobile">
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item dropdown">
				<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="icon-sphere"></i>
					<span class="d-md-none ml-2">
						{% trans "Languages" %}
					</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">{% csrf_token %}
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					<a class="dropdown-item	g_language_option {% if language.code == LANGUAGE_CODE %} active {% endif %}>" href="#"" onclick="sendLanguageChangeForm('{{ language.code }}')">
						{{ language.name_local }}
					</a>
					{% endfor %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="icon-user"></i>
					<span class="d-md-none ml-2">
						{% trans "Account" %}
					</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'password_change' %}" class="dropdown-item">
						{% trans "Change Password" %}
					</a>
					<a href="{% url 'logout' %}" class="dropdown-item">
						{% trans "Logout" %}
					</a>
				</div>
			</li>
		</ul>
	</div>
	<script>
		function sendLanguageChangeForm(lang) {
			var form = document.createElement("form");
			form.style = "display:none;";
			form.method = 'post';
			form.action = "{% url 'set_language' %}";
			var input = document.createElement("input");
			input.type="text";
			input.name="language";
			input.value=lang;
			form.appendChild(input);
			var input1 = document.createElement("input");
			input1.type = "hidden";
			input1.name = "next";
			input1.value = "{{ redirect_to }}";
			form.appendChild(input1);
			var input2 = document.createElement("input");
			input2.type = "hidden";
			input2.name = "csrfmiddlewaretoken";
			input2.value = Cookies.get('csrftoken');
			form.appendChild(input2);
			document.body.appendChild(form);
			form.submit();
			document.body.removeChild(form);
		}
		</script>
</div>
