{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

<div id="page-header" class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<!--
				 <a href="{{ request.META.HTTP_REFERER }}">
				 <i class="icon-arrow-left52 mr-2">
				 </i>
				 </a>
		-->
		<div class="page-title d-flex" style="padding-top:0.5rem;padding-bottom:0.5rem;">
			{% block breadcrumbs %}
			{% clear_breadcrumbs %}
			{% for crumb in module.breadcrumbs %}
			{% breadcrumb crumb.title crumb.url %}
			{% endfor %}
			{% endblock %}
			{% render_breadcrumbs %}
		</div>
		<div class="header-elements">
			{% if lock.name %}
			{% if lock.no_permission %}
			<button type="button" class="btn btn-primary" disabled>
				{% trans 'No Permission' %}
			</button>
			{% elif lock.owner == user.username %}
			<form action="{% url 'lock_unlock' %}" method="post">
				{% csrf_token %}
				<input type="text"
					name="lockname"
					value="{{ lock.name }}"
					style="display:none">
				<input type="text"
					name="redirect"
					value="{{ request.get_full_path }}"
					style="display:none">
				<button type="submit" class="btn btn-warning">
					{% trans 'Unlocked' %}
				</button>
			</form>
			{% elif lock.owner %}
			<button type="button" class="btn btn-primary" disabled>
				{{ lock.owner }}
			</button>
			{% else %}
			<form action="{% url 'lock_lock' %}" method="post">
				{% csrf_token %}
				<input type="text"
					name="lockname"
					value="{{ lock.name }}"
					style="display:none">
				<input type="text"
					name="redirect"
					value="{{ request.get_full_path }}"
					style="display:none">
				<button type="submit" class="btn btn-primary">
					{% trans 'Locked' %}
				</button>
			</form>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>
