<div id="content-messages-area">
<div id="page-alert-message" class="col-md-8 offset-md-4">
	<div id="card-alert-message" style="display:none;">
		{% if messages %}
		{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="alert alert-danger" role="alert">
			[{{ message.tags|upper }}] {{ message }}
		</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
		<div class="alert alert-warning" role="alert">
			[{{ message.tags|upper }}] {{ message }}
		</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
		<div class="alert alert-success" role="alert">
			[{{ message.tags|upper }}] {{ message }}
		</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
		<div class="alert alert-primary" role="alert">
			[{{ message.tags|upper }}] {{ message }}
		</div>
		{% else %}
		<div class="alert alert-secondary" role="alert">
			[{{ message.tags|upper }}] {{ message }}
		</div>
		{% endif %}
		{% endfor %}
		{% endif %}
	</div>
	<div id="library-download-links" stype="display:none;">
	</div>
	<div id="library-manual-forms" stype="display:none;">
	</div>
	<script>
	 $(document).ready(function() {
		 $('#card-alert-message').show();
		 $('#card-alert-message').
									addClass('animated fadeInRight').
										one('webkitAnimationEnd ' +
												'mozAnimationEnd ' +
												'MSAnimationEnd ' +
												'oanimationend ' +
												'animationend', function () {
													$(this).removeClass('animated fadeInRight');
													setTimeout(function() {
														$('#card-alert-message').
																	addClass('animated fadeOutRight').
																	 one('webkitAnimationEnd ' +
																			 'mozAnimationEnd ' +
																			 'MSAnimationEnd ' +
																			 'oanimationend ' +
																			 'animationend', function () {
																				 $(this).removeClass('animated fadeOutRight');
																				 $('#card-alert-message').hide();
																			 });
													}, 4000);
												});
	 });
	</script>
</div>
</div>
