{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
	<head>
		<!-- meta settings -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- /meta settings -->

		<title>{{ application }} {{ environment }}</title>
		<link rel="shortcut icon" href="{% static 'library/img/favicon.ico' %}">

		<!-- global JS files -->
		<script src="{% static 'limitless/global_assets/js/main/jquery.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/polyfills/fetch.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/polyfills/promise.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/anytime.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/color/spectrum.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pagination/bs_pagination.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/visualization/echarts/echarts.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>


		<script src="{% static 'limitless/assets/js/app.js' %}"></script>

		<script src="{% static 'jscookie/js.cookie.js' %}"></script>
		<script src="{% static 'select2/js/select2.js' %}"></script>
		<script src="{% static 'x-editable/js/bootstrap-editable.js' %}"></script>

		<script src="{% static 'select2/js/i18n/en.js' %}"></script>
		<script src="{% static 'select2/js/i18n/zh-CN.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/pickadate/translations/zh_CN.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/plugins/pickers/color/i18n/jquery.spectrum-zh-cn.js' %}"></script>
		<script src="{% url 'javascript-catalog' %}"></script>

		<script src="{% static 'library/js/locale.js' %}"></script>
		<script src="{% static 'library/js/library.js' %}"></script>
		<!-- /global JS files -->

		<!-- global stylesheets -->
		<link href="{% static 'limitless/global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/global_assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/global_assets/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'limitless/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/bootstrap_limitless.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/layout.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/components.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/colors.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'select2/css/select2.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'x-editable/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'x-editable/css/bootstrap-editable.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'library/css/library.css' %}" rel="stylesheet" type="text/css">
		<!-- /global stylesheets -->

		<script>
		 // init global libraries
		 (function() {
			 {% if debug %}
			 C.debug = true
			 {% else %}
			 C.debug = false
			 {% endif %}
			 C.application = "{{ application|lower }}"
			 C.environment = "{{ environment|lower }}"

			 C.username = '{{ user.username }}'

			 C.module.name = '{{ module.name }}'

			 C.lock.name = '{{ lock.name }}'
			 C.lock.owner = '{{ lock.owner }}'

			 C.metadata.name = '{{ metadata.name }}'

			 C.crud = {}
			 C.crud.url_create = "{% url 'crud_create' %}"
			 C.crud.url_delete = "{% url 'crud_delete' %}"
			 C.crud.url_update = "{% url 'crud_update' %}"
			 C.crud.url_query = "{% url 'crud_query' %}"
			 C.crud.url_query_all = "{% url 'crud_queryall' %}"
		 })();
		</script>

		{% include app_global_assets %}
	</head>
	<body>
		{% include 'page_banner.html' %}
		<div id="page-content" class="page-content">
			{% include 'page_navigation.html' %}
			<div id="page-content-wrapper" class="content-wrapper">
				{% include 'page_header.html' %}
				<div id="page-content" class="content">
					{% include 'metadata_table.html' %}

					{% block content %}
					{% endblock %}

					{% include 'page_message.html' %}
				</div>
				{% include 'page_footer.html' %}
			</div>
		</div>
	</body>
</html>
