{% extends "page_layout.html" %}
{% load i18n %}

{% block content %}

<div id="account_user_index">
	<button type="button"
		class="btn btn-primary"
		data-toggle="modal"
		data-target="#addUserModal"
		{{ lock.status_attr }}>
		{% trans 'Add User' %}
	</button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">{% trans 'User Name' %}</th>
				<th scope="col">{% trans 'User Email' %}</th>
				<th scope="col">{% trans 'User Groups' %}</th>
				<th scope="col">{% trans 'Join Date' %}</th>
				<th scope="col">{% trans 'Last Login' %}</th>
				<th scope="col">{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
			{% for usr in users %}
			<tr>
				<td>{{ usr.username }}</td>
				<td>{{ usr.email }}</td>
				<td>{{ usr.grps|join:"/" }}</td>
				<td>{{ usr.date_joined }}</td>
				<td>{{ usr.last_login }}</td>
				<td>
					<form action={% url 'account_user_delete' %} method="post">
						{% csrf_token %}
						<input type="text"
							name="username"
							value="{{ usr.username }}"
							style="display:none"
							{{ lock.status_attr }}>
						<button type="submit"
							class="btn btn-danger"
							{{ lock.status_attr}}>
							{% trans 'Delete' %}
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="modal fade"
		id="addUserModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addUserModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'account_user_add' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addUserModalLabel">
							{% trans "Add User" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="userName" class="col-form-label">
								{% trans 'User Name' %}
							</label>
							<input type="text"
								class="form-control"
								id="userName"
								name="username"
								{{ lock.status_attr }}>
						</div>
						<div class="form-group">
							<label for="userEmail" class="col-form-label">
								{% trans 'User Email' %}
							</label>
							<input type="text"
								class="form-control"
								id="userEmail"
								name="useremail"
								{{ lock.status_attr }}>
						</div>
						<div class="form-group">
							<label for="userPassword" class="col-form-label">
								{% trans 'User Password' %}
							</label>
							<input type="password"
								class="form-control"
								id="userPassword"
								name="userpassword"
								{{ lock.status_attr }}>
						</div>
						<div class="form-group">
							<label for="userPassword2" class="col-form-label">
								{% trans 'User Confirm Password' %}
							</label>
							<input type="password"
								class="form-control"
								id="userPassword2"
								name="userpassword2"
								{{ lock.status_attr }}>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-secondary"
							data-dismiss="modal">
							{% trans 'Close' %}
						</button>
						<button type="submit"
							class="btn btn-primary"	{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

