{% extends "page_layout.html" %}
{% load i18n %}

{% block content %}

<div id="account_group_index">
	<button type="button"
		class="btn btn-primary"
		data-toggle="modal"
		data-target="#addGroupModal"
		{{ lock.status_attr }}>
		{% trans 'Add Group' %}
	</button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">{% trans 'Group Name' %}</th>
				<th scope="col">{% trans 'Group Users' %}</th>
				<th scope="col">{% trans 'Group Permissions' %}</th>
				<th scope="col">{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
			{% for grp in groups %}
			<tr>
				<td id="group-name-{{ grp.id }}">{{ grp.name }}</td>
				<td id="group-users-{{ grp.id }}">{{ grp.users|join:"/" }}</td>
				<td id="group-permisssions-{{ grp.id }}">
					{{ grp.permissions|join:"/" }}
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							{{ lock.status_attr }}>
							{% trans 'Actions' %}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<button type="button"
								class="dropdown-item"
								data-toggle="modal"
								data-target="#editUsersModal"
								onclick="initUsersList({{ grp }})"
								{{ lock.status_attr }}>
								{% trans 'Edit Users' %}
							</button>
							<button type="button"
								class="dropdown-item"
								data-toggle="modal"
								data-target="#editPermissionsModal"
								onclick="initPermissionsList({{ grp }})"
								{{ lock.status_attr }}>
								{% trans 'Edit Permissions' %}
							</button>
							<form action={% url 'account_group_delete' %} method="post">
								{% csrf_token %}
								<input type="text"
									name="groupid"
									value="{{ grp.id }}"
									style="display:none"
									{{ lock.status_attr }}>
								</input>
								<button type="submit"
									class="dropdown-item"
									{{ lock.status_attr }}>
									{% trans 'Delete' %}
								</button>
							</form>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="modal fade"
		id="addGroupModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addGroupModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'account_group_add' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addGroupModalLabel">
							{% trans "Add Group" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="groupName" class="col-form-label">
								{% trans 'Group Name' %}
							</label>
							<input type="text"
								class="form-control"
								id="groupName"
								name="groupname"
								{{ lock.status_attr }}>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-secondary"
							data-dismiss="modal">
							{% trans 'Close' %}
						</button>
						<button type="submit"
							class="btn btn-primary"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade"
		id="editUsersModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="editUsersModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h5 class="modal-title" id="editUsersModalLabel">
							{% trans "Edit Users" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="usersList" class="col-form-label">
								{% trans 'Users List' %}
							</label>
							<select class=""
								id="usersList"
								name="userslist"
								multiple="multiple"
								{{ lock.status_attr }}>
								{% for u in users %}
								<option value={{ u.id }}>{{ u.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-secondary"
							data-dismiss="modal">
							{% trans 'Close' %}
						</button>
						<button type="button"
							class="btn btn-primary"
							onclick="setUsersList(groupInEditing)"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade"
		id="editPermissionsModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="editPermissionsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h5 class="modal-title" id="editPermissionsModalLabel">
							{% trans "Edit Permissions" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="permissionsList" class="col-form-label">
								{% trans 'Permissions List' %}
							</label>
							<select class="form-control"
								id="permissionsList"
								name="permissionslist"
								multiple="multiple"
								{{ lock.status_attr }}>
								{% for p in permissions %}
								<option value={{ p.id }}>{{ p.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-secondary"
							data-dismiss="modal">
							{% trans 'Close' %}
						</button>
						<button type="button"
							class="btn btn-primary"
							onclick="setPermissionsList(groupInEditing)"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
	 var groupInEditing = null;

	 function initPermissionsList(group) {
		 groupInEditing = group
		 L.getJson("{% url 'account_group_permissions' %}",
							 {'gid': group.id},
							 function(payload) {
								 if(payload && payload.length > 0) {
									 pids = []
									 payload.forEach(function(p) {
										 pids.push(p.id)
									 })
									 $("#permissionsList").val(pids)
								 } else {
									 $('#permissionsList').val(null)
								 }
								 $('#permissionsList').trigger('change')
							 })
	 }

	 function initUsersList(group) {
		 groupInEditing = group
		 L.getJson("{% url 'account_group_users' %}",
							 {'gid': group.id},
							 function(payload) {
								 if(payload && payload.length > 0) {
									 uids = []
									 payload.forEach(function(u) {
										 uids.push(u.id)
									 })
									 $("#usersList").val(uids)
								 } else {
									 $('#usersList').val(null)
								 }
								 $('#usersList').trigger('change')
							 })
	 }

	 function setUsersList(group) {
		 uids = []
		 $('#usersList').val().forEach(function(val) {
			 uids.push(parseInt(val, 10))
		 })
		 L.postJson("{% url 'account_group_setusers' %}",
								{
									"gid": group.id,
									"uids": uids,
								},
								function(payload) {
									users = []
									payload.forEach(function(u) {
										users.push(u.name)
									})
									$('#group-users-' + group.id).text(users.join('/'));
									$('#editUsersModal').modal('hide');
								})
	 }

	 function setPermissionsList(group) {
		 pids = []
		 $('#permissionsList').val().forEach(function(val) {
			 pids.push(parseInt(val, 10))
		 })
		 L.postJson("{% url 'account_group_setpermissions' %}",
								{
									"gid": group.id,
									"pids": pids,
								},
								function(payload) {
									perms = []
									payload.forEach(function(p) {
										perms.push(p.name)
									})
									$('#group-permisssions-' + group.id).text(perms.join('/'));
									$('#editPermissionsModal').modal('hide');
								})
	 }

	 $(document).ready(function() {
		 $("#permissionsList").select2({
			 width: "100%",
			 placeholder: "{% trans 'Select Permissions' %}",
			 theme: "classic",
		 });
		 $('#usersList').select2({
			 width: "100%",
			 placeholder: "{% trans 'Select Users' %}",
			 theme: "classic",
		 });
	 });
	</script>
</div>

{% endblock %}
