{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<!-- meta settings -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- /meta settings -->

		<title>{{ application }} {{ environment }}</title>
		<link rel="shortcut icon" href="{% static 'library/img/favicon.ico' %}">

		<!-- global JS files -->
		<script src="{% static 'limitless/global_assets/js/main/jquery.min.js' %}"></script>
		<script src="{% static 'limitless/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
		<!-- /global JS files -->

		<!-- global stylesheets -->
		{% if debug %}
		<link href="{% static 'limitless/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/bootstrap_limitless.css' %}" rel="stylesheet" type="text/css">
		{% else %}
		<link href="{% static 'limitless/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'limitless/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">

		<!-- /global stylesheets -->
		{% endif %}

		<style>
     .container {
       display: table;
       height: 100%;
     }
     .row {
       display: table-cell;
       vertical-align: middle;
     }
     .row-centered {
       text-align:center;
     }
     .col-centered {
       display:inline-block;
       float:none;
       text-align:left;
       margin-right:-4px;
     }
    </style>
	</head>
	<body>
		<div id="page-change-password" class="page-content">
			<div class="container">
				<div class="row row-centered">
					<div class="well col-md-4 col-centered">
						<h2 style="text-align: center; font-weight: normal;">
							<span>{% blocktrans %} {{ application }} {{ environment }} Change Password {% endblocktrans %}</span>
						</h2>
						<form method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="oldPassword">{% trans "Old Password" %}</label>
								<input type="password" name="old_password" class="form-control" id="oldPassword">
							</div>
							<div class="form-group">
								<label for="newPassword1">{% trans "New Password" %} </label>
								<input type="password" name="new_password1" class="form-control" id="newPassword1">
							</div>
							<div class="form-group">
								<label for="newPassword2">{% trans "Confirm New Password" %} </label>
								<input type="password" name="new_password2" class="form-control" id="newPassword2">
							</div>
							<button type="submit" class="btn btn-primary btn-block">
								{% trans "Change Password" %}
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
