{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

        <!------content------>
<div id="rolecopy_index">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pullRoleDataModal" {{ lock.status_attr }}>
        {% trans 'Add Tag Data' %}
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                 <th scope="col">{% trans 'id' %}</th>
                 <th scope="col">{% trans 'fpid' %}</th>
                 <th scope="col">{% trans 'roleid' %}</th>
                 <th scope="col">{% trans 'serverid' %}</th>
                 <!--th scope="col">{% trans 'fullData' %}</th-->
                 <th scope="col">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in dataList %}
            <tr>
                <td id="svr-addr-list-{{ v.id }}">{{ v.id }}</td>
                <td id="svr-addr-list-{{ v.fpId }}">{{ v.fpId }}</td>
                <td id="svr-addr-list-{{ v.roleId }}">{{ v.roleId }}</td>
                <td id="svr-addr-list-{{ v.serverId }}">{{ v.serverId }}</td>
                <!---td id="svr-addr-list-{{ v.fullData }}">{{ v.fullData }}</td-->
              	<td>
					<form action={% url 'rolecopy_delete' %} method="post">
						{% csrf_token %}
						<input type="text"
							name="id"
							value="{{ v.id }}"
							style="display:none"
							{{ lock.status_attr }}>
						<button type="submit"
                                id="btn_role_data_delete"
							class="btn btn-danger"
							{{ lock.status_attr}}>
							{% trans 'Delete' %}
						</button>
					</form>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <h5>{% trans 'copy role from local to game server:' %}</h5>
<!---弹出导出框--->
<div id="rolecopy2_index_import">
 <form action="{% url 'rolecopy_import_role_data' %}" method="post">
		{% csrf_token %}
        <div class="form-group">
			<label for="rolecopy_fpid">
				{% trans 'from Id' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="id"
				value=""
				placeholder="1">
		</div>
        <div class="form-group">
			<label for="rolecopy_fpid">
				{% trans 'New FpId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="fpid"
				value=""
				placeholder="1">
		</div>
		<div class="form-group">
			<label for="rolecopy_roleid">
				{% trans 'New RoleId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="roleid"
				value=""
				placeholder="1">
		</div>
        <div class="form-group">
			<label for="rolecopy_serverid">
				{% trans 'New ServerId' %}
			</label>
			<input type="text"
				{{ lock.status_attr }}
				class="form-control"
				name="serverid"
				value=""
				placeholder="1">
		</div>
		<button type="submit"
			class="btn btn-primary"	{{ lock.status_attr }}>
			{% trans 'PushRoleData' %}
		</button>
	</form>
</div>
<!---弹出导入框--->
    <div class="modal fade"
		id="pullRoleDataModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'rolecopy_get_role_data' %}">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title" id="addSealIpModalLabel">
							{% trans "PullRoleData" %}
						</h5>
						<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
                    <div class="form-group">
			            <label for="rolecopy_fpid">
				        {% trans 'FpId' %}
			            </label>
			            <input type="text"
				            {{ lock.status_attr }}
				            class="form-control"
				            name="fpid"
				            value=""
				            placeholder="1">
                    </div>
		            <div class="form-group">
			            <label for="rolecopy_roleid">
				            {% trans 'RoleId' %}
			            </label>
			            <input type="text"
				             {{ lock.status_attr }}
				                class="form-control"
                               name="roleid"
				            value=""
				            placeholder="1">
		            </div>
                    <div class="form-group">
			            <label for="rolecopy_serverid">
				        {% trans 'ServerId' %}
			            </label>
			            <input type="text"
				        {{ lock.status_attr }}
				        class="form-control"
				        name="serverid"
				        value=""
				        placeholder="1">
		            </div>
                    </div>
					<div class="modal-footer">
						<button type="submit"
							class="btn btn-primary"
							{{ lock.status_attr }}>
							{% trans 'Submit' %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
