{% extends "page_layout.html" %}

{% load i18n %}

{% block content %}

<div id="GmtTest_index">
  <h5>{% trans 'Welcome to' %}: {{ GmtTest.name }}</h5>
  <button type="button"
    id="btn-create"
    class="btn btn-primary"
    crud-module="GmtTest"
    onclick="addOne()"
    {{ lock.status_attr }}>
    CRUD Test
  </button>
  <form action={% url 'GmtTest_addone' %} method="post">
    {% csrf_token %}
    <input type="text"
      name="name"
      value="test him"
      style="display:none">
    <input type="text"
      name="redirect"
      value="{{ request.get_full_path }}"
      style="display:none">
    <button type="submit"
      class="btn btn-danger"
      {{ lock.status_attr}}>
      {% trans 'Form Test' %}
    </button>
  </form>
  <a href="#"
    data-type="text"
    data-pk="1"
    data-crud="GmtTest"
    data-name="name"
    data-value="{{ GmtTest.name }}"
    data-disabled="{{ lock.status_attr }}">
  </a>
  <script>
    function addOne() {
      L.crudCreate('btn-create', {
        name: 'test me',
      }, function() {
        L.info('create data success')
      })
    }

    $(document).ready(function() {
      //init functions when page is ready
      $('a[data-crud]').each(function(idx, elem) {
        L.editable($(elem));
      });
    })
  </script>
</div>

{% endblock %}
